.login-wrapper {
  background: #F6F7FB;
  padding: 91px 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: 80%;
  &-logo {
    margin-bottom: 30px;
  }
}

.lang-bar {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  &-icon {
    svg {
      color: rgba(112, 112, 112, 1);
    }
  }
  &-item {
    margin-left: 17px;
    color: rgba(136, 142, 167, 1);
    text-decoration: underline;
    &:hover {
      cursor: pointer;
    }
    &-active {
      color: rgba(49, 54, 67, 1);
      text-decoration: none;
      &:hover {
        cursor: default;
      }
    }
  }
}

.login-form {
  background: rgba(255, 255, 255, 1);
  padding: 60px 40px;
  margin-bottom: 50px;
  border-radius: 10px;
  width: 25%;
  border: 1px solid rgba(230, 236, 245, 1);
  &-title {
    font-size: 1.5rem;
    margin-bottom: 30px;
  }
  &-input {
    width: 100%;
    display: flex;
    margin-bottom: 20px;
    position: relative;
    svg {
      position: absolute;
      top: 15px;
      left: 20px;
      color: rgba(112, 112, 112, 1);
    }
    input {
      width: 100%;
      outline: none;
      border-radius: 10px;
      border: 2px solid rgba(230, 236, 245, 1);
      padding: 10px 20px;
      padding-left: 50px;
      font-size: 1rem;
      &::placeholder {
        color: rgba(224, 226, 233, 1);
      }
    }
    input.has-error {
      border-color: rgba(230, 55, 130, 1);
    }
  }
  &-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  &-forgot-pass {
    color: rgba(136, 142, 167, 1);
    text-decoration: underline;
    &:hover {
      cursor: pointer;
    }
  }
  &-btn {
    button {
      padding: 10px 30px;
      border-radius: 5px;
      font-size: 1rem;
      color: #fff;
      background: rgba(34, 164, 220, 1);
    }
  }
}

.form-error {
  animation-name: errorForm;
  animation-duration: .5s;
  animation-fill-mode: forwards;
}

@keyframes errorForm {
  0%{
    transform: translateX(0);
  }
  20%{
    transform: translateX(-50px);
  }
  40%{
    transform: translateX(50px);
  }
  60%{
    transform: translateX(-50px);
  }
  80%{
    transform: translateX(50px);
  }
  100%{
    transform: translateX(0);
  }
}

