<div class="login-wrapper">
  <div class="lang-bar">
    <div class="lang-bar-icon">
      <i class="fas fa-globe"></i>
    </div>
    <div *ngFor="let lang of langsArr" [class]="lang.i18n === langSrv.activeLang ? 'lang-bar-item lang-bar-item-active' : 'lang-bar-item'"
      (click)="langSrv.changeUserLang(lang.i18n)">
      {{ lang.name }}
    </div>
  </div>
  <div class="login-wrapper-logo">
    <img src="assets/img/logo.png" alt="">
  </div>
  <div class="login-form" [class.form-error]="isErrorForm">
    <div class="login-form-title">
      {{ 'LOGIN.TITLE' | translate }}
    </div>
    <form [formGroup]="loginGroup" (ngSubmit)="login()">
      <div class="login-form-input" >
        <i class="fas fa-at"></i>
        <input type="email" placeholder="alex@example.com" formControlName="Email"
          [class.has-error]="validateField('Email')">
      </div>
      <div class="login-form-input">
        <i class="fas fa-key"></i>
        <input type="password" placeholder="password" formControlName="Password" [class.has-error]="validateField('Password')">
      </div>
      <div class="login-form-footer">
        <div class="login-form-forgot-pass">
          {{ 'LOGIN.FORGOT_PASSWORD' | translate }}
        </div>
        <div class="login-form-btn">
          <button type="submit">{{ 'LOGIN.SIGN_IN' | translate }}</button>
        </div>
      </div>
    </form>
  </div>
  <div class="login-wrapper-registration">
    <span>{{ 'LOGIN.HAVE_YOU_GOT_ACC' | translate }} </span>
    <a>{{ 'LOGIN.REGISTRATION' | translate }}</a>
  </div>
  <div class="footer">
    <div class="footer-copyright">
      © 2019 ООО “Эпицентр" | Hezzl.com
    </div>
    <div class="footer-oferta">
      <a>{{ 'LOGIN.OFFER' | translate }}</a>
    </div>
  </div>
</div>
