<div class="empty-page">
  <div class="empty-page-icon">
    <i class="far fa-comment-alt"></i>
  </div>
  <div class="empty-page-title" [innerHTML]="'EMPTY_PAGE.TITLE' | translate">
  </div>
  <div class="empty-page-btn">
    <button type="button">{{ 'ACTIONS.CREATE_COMPANY' | translate }}</button>
  </div>
  <div class="footer">
    <div class="footer-copyright">
      © 2019 ООО “Эпицентр" | Hezzl.com
    </div>
    <div class="footer-oferta">
      <a>{{ 'LOGIN.OFFER' | translate }}</a>
    </div>
  </div>
</div>
