.empty-page {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 15%;
  &-icon {
    color: rgba(247, 171, 41, 1);
    font-size: 4rem;
  }
  &-title {
    color: rgba(136, 142, 167, 1);
    font-size: 2rem;
    margin-bottom: 3rem;
  }
  &-btn {
    button {
      background: rgba(170, 199, 46, 1);
      color: #fff;
      padding: 10px 20px;
      font-size: 1.3rem;
    }
  }
}
