<div class="side-menu">
  <div class="side-menu-user">
    <app-user-avatar></app-user-avatar>
  </div>
  <ul class="side-menu-list">
    <li *ngFor="let menu of menus" [class]="menu.open ? 'side-menu-list-item side-menu-list-item-active': 'side-menu-list-item'"
    (click)="openMenu(menu.id)">
      <div class="side-menu-list-item-icon">
        <i class="fas {{menu.icon}}"></i>
      </div>
      {{ menu.name | translate }}
    </li>
  </ul>
</div>
