.side-menu {
  height: 100%;
  &-user {
    margin-bottom: 70px;
  }
  &-list {
    &-item {
      color: rgba(255, 255, 255, .6);
      text-align: center;
      margin-bottom: 50px;
      &-icon {
        font-size: 2rem;
      }
      &:hover {
        cursor: pointer;
      }
      &-active {
        color: rgba(247, 171, 41, 1);
        &:hover {
          cursor: default;
        }
      }
    }
  }
}
