* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

button {
  outline: none;
  border: none;
  font-family: 'Roboto', sans-serif;
  border-radius: 10px;
  &:hover {
    cursor: pointer;
  }
}

html, body {
  height: 100%;
}

a {
  color: rgba(136, 142, 167, 1);
  text-decoration: underline;
  &:hover {
    cursor: pointer;
    text-decoration: none;
  }
}

.footer {
  width: 90%;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  border-top: 2px solid rgba(230, 236, 245, 1);
  padding: 25px 0 40px 0;
  color: rgba(136, 142, 167, 1);
}
