.home-wrapper {
  display: flex;
  width: 100%;
  height: 100%;
}

.side-menu-wrapper {
  width: 6%;
  height: 100%;
  background: #313643;
}

.home-content-wrapper {
  width: 94%;
  height: calc(100% - 50px);
  background: rgba(246, 247, 251, 1);
  padding: 50px;
  padding-bottom: 0;
}
